.fade{
  opacity: 1 !important;
}

.fade.in {
    opacity: 0.5 !important;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0)!important;
    -o-transform: translate(0, 0)!important;
    transform: translate(0, 0)!important;
  }
  .modal-backdrop.in {
    opacity: 0.2!important;
  }

  .modal-backdrop.fade {
    opacity: 0.7 !important;
}


.modal-dialog{
  top:20% !important;
}